{% extends "base.html" %} {% block title %}How to get an appointment{% endblock %} {% block
content %}
<h1 style="text-align:center;font-size:40px"> HOW TO GET APPOINTED </h1>
<h2 style="font-size:30px;font-family:verdana;"> 2nd Dose</h2>
<br>
<h2 style="font-size:25px;font-family:verdana;"> 1st step </h2>
<br>
<p style="font-size:20px;font-family:courier;"> Fill out the given credentials </p>
<br>
<h2 style="font-size:25px;font-family:verdana;">  2nd step </h2>
<p style="font-size:20px;font-family:courier;"> Answer the Health and Medical history </p>
<br>
<h2 style="font-size:25px;font-family:verdana;"> 3rd step </h2>
<p style="font-size:20px;font-family:courier;"> Fill out the given requirements </p>
<br>
<h2 style="font-size:25px;font-family:verdana;"> 4th step </h2>
<p style="font-size:20px;font-family:courier;"> Click Register </p>
<br>
<a href="/htga">
<button class="btn btn-outline-primary" type="submit">Back</button>
</a>
{% endblock %}